{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<br>
{% for destination in destinations %}
<br>
<div class="card card-cascade wider reverse shadow-lg">
  <div class="view view-cascade overlay">
    <img class="card-img-top" src="{{destination.pretty_picture.url}}" alt="{{destination.name}}">
  </div>
  <div class="card-body card-body-cascade text-center text-white">
    <h4 class="card-title"><strong>{{destination.name}}</strong></h4>
    <p class="card-text bg-transperant">{{destination.activities}}</p>
    <a href="{% url 'destination-detail' destination.id %}" class="btn btn-outline-light text-light btn-block">Details</a>
  </div>
</div>
<br>
<hr>
{% endfor %}

{% endblock content %}
